<div id='container-user'>
  <div class='lead'>
    <h1>ユーザー変更</h1>
  </div>
    <div class='wrapper user'>
      <%= form_with model: @user do |f| %>
        <%= render 'layouts/error_messages', object: f.object %>
        <div class='form-group1'>
          <%= f.label :name, class: 'col-sm-4 control-label' %>
          <%= f.text_field :name %>
        </div>
        <div class='form-group2'>
          <%= f.label :email, class: 'col-sm-4 control-label' %>
          <%= f.text_field :email %>
        </div>
        <div class='form-group3'>
          <%= f.label :password, class: 'col-sm-4 control-label' %>
          <%= f.text_field :password %>
        </div>
        <div class='form-group2'>
          <%= f.label :password_confirmation, class: 'col-sm-4 control-label' %>
          <%= f.password_field :password_confirmation %>
        </div>

        <div class='form-group3'>
          <%= f.label :images, class: 'col-sm-4 control-label' %>
          <%= f.file_field :images, name: 'user[images][]', multiple: true %>
        </div>
        <div id='new-image'></div>
        <% if @user.images.attached? %>
          <% @user.images.each do |image| %>
            <%= image_tag image.variant(resize:'500x400'), class: 'img-responsive', id: 'new-image' %>
            <%= link_to '削除', user_attachment_path(@user.id, image.id), direct_upload: true, method: :delete, class: 'btn btn-danger btn-rounded image-destroy' %>
          <% end %>
        <% end %>

        <%= f.submit '登録', class: 'btn btn-outline-primary login' %>
      <% end %>
  </div>
</div>

<%= javascript_pack_tag 'preview' %>