<h1>結果</h1>
<%= audio_tag(url_for(@result.record_voice), controls: true, preload: 'metadata', class: 'mx-auto mt-2') %>

<p>得点: <%=@result.score%></p>
<p>平常: <%=@result.calm%></p>
<p>怒り: <%=@result.anger%></p>
<p>喜び: <%=@result.joy%></p>
<p>悲しみ: <%=@result.sorrow%></p>
<p>元気度: <%=@result.joy%></p>
