<div id='container'>
  <% if logged_in? %>
    <h1 class='pt-2 resultName'><%= @result.user.name %>さんの結果は・・・</h1>
    <h2 class='pt-2 resultName'>難易度: <%= @rank.level %></h2>
  <% else %>
    <h1 class='pt-2 resultName'>あなたの結果は・・・</h1>
  <% end %>

  <% if [@result.anger, @result.sorrow, @result.joy, @result.energy, @result.calm].sum.zero? %>
    <p>エラーが発生しています。</p>
  <% else %>
    <p class='text-center pt-5 score'><span class='title'><%= @result.score %></span>点</p>
  <% end %>

  <% if @rank.id == 1 %>
    <p class='d-flex justify-content-end comment'><%= @beginner_comment %></p>
  <% elsif @rank.id == 2 %>
    <p class='d-flex justify-content-end comment'><%= @intermediate_comment %></p>
  <% else %>
    <p class='d-flex justify-content-end comment'><%= @advanced_comment %></p>
  <% end %>
</div>

<div class='button'>
  <% if logged_in? %>
    <%= render 'results/like_button' %>
  <% end %>
  <% if @result.record_voice.attached? %>
    <%= audio_tag(url_for(@result.record_voice), controls: true, preload: 'metadata', class: 'audio mx-auto mt-2') %>
  <% else %>
    <p>申し訳ございません。録音に失敗しました。</p>
    <%= link_to 'もう一度やりなおす', ranks_path, class: 'btn btn-dark btn-rounded mx-auto mt-2' %>
  <% end %>

  <%= link_to 'https://twitter.com/share?url=#{request.url}&text=しつけ度『難易度:#{@rank.level}が#{@result.score}点』だったよ！%0a%0aあなたもペットに理想的なしつけを身につけませんか？', target: '_blank', class: 'btn btn-info btn-rounded mx-auto mt-2' do %>
    <i class='fab fa-twitter'></i>結果をshareしよう！
  <% end %>

  <% if logged_in? %>
    <%= link_to 'ホームへ戻る', root_path, class: 'btn btn-warning btn-rounded mx-auto mt-2' %>
    <%= link_to 'もう一度挑戦する', ranks_path, class: 'btn btn-secondary btn-rounded mx-auto mt-2' %>
    <% if @result.score >= 70 %>
      <%= link_to 'NEXT STEP', ranks_path(next: 'step'), class: 'btn btn-success btn-rounded mx-auto mt-2' %>
    <% end %>
  <% else %>
    <%= link_to 'ホームへ戻る', root_path, class: 'btn btn-warning btn-rounded mx-auto mt-2' %>
  <% end %>
</div>
