<div id='container-user'>
  <div class='lead'>
    <h1>難易度選択</h1>
  </div>
  <% if current_page?(ranks_path(next: 'step')) %>
    <div class='row'>
      <div class='col-sm-6'>
        <div class='card'>
          <div class='card-body'>
            <h5 class='card-title'><%= @beginner.level %></h5>
            <p class='card-text'><%= @beginner.subtitle %></p>
            <%= link_to '挑戦する', login_record_rank_path(id: Settings.rank[:beginner], part: 'login', beginner: 'all'), class:'btn btn-primary beginner' %>
          </div>
        </div>
      </div>
      <div class='col-sm-6'>
        <div class='card'>
          <div class='card-body'>
            <h5 class='card-title'><%= @intermediate.level %></h5>
            <p class='card-text'><%= @intermediate.subtitle %></p>
            <%= link_to '挑戦する', login_record_rank_path(id: Settings.rank[:intermediate], part: 'login', intermediate: 'all'), class:'btn btn-primary intermediate' %>
          </div>
        </div>
      </div>
      <div class='col-sm-6'>
        <div class='card'>
          <div class='card-body'>
            <h5 class='card-title'><%= @advanced.level %></h5>
            <p class='card-text'><%= @advanced.subtitle %></p>
            <%= link_to '挑戦する', login_record_rank_path(id: Settings.rank[:advanced], part: 'login', advanced: 'all'), class:'btn btn-primary advanced' %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
      <div class='row'>
      <div class='col-sm-6'>
        <div class='card'>
          <div class='card-body'>
            <h5 class='card-title'><%= @beginner.level %></h5>
            <p class='card-text'><%= @beginner.subtitle %></p>
            <%= link_to '挑戦する', record_rank_path(id: Settings.rank[:beginner], part: 'all', beginner: 'all'), class:'btn btn-primary beginner' %>
          </div>
        </div>
      </div>
      <div class='col-sm-6'>
        <div class='card'>
          <div class='card-body'>
            <h5 class='card-title'><%= @intermediate.level %></h5>
            <p class='card-text'><%= @intermediate.subtitle %></p>
            <%= link_to '挑戦する', record_rank_path(id: Settings.rank[:intermediate], part: 'all', intermediate: 'all'), class:'btn btn-primary intermediate' %>
          </div>
        </div>
      </div>
      <div class='col-sm-6'>
        <div class='card'>
          <div class='card-body'>
            <h5 class='card-title'><%= @advanced.level %></h5>
            <p class='card-text'><%= @advanced.subtitle %></p>
            <%= link_to '挑戦する', record_rank_path(id: Settings.rank[:advanced], part: 'all', advanced: 'all'), class:'btn btn-primary advanced' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>