<div class='wrapper record'>
  <% if @rank.id == 1 %>
    <div class='pt-2 rank'>難易度:<%= @rank.level %></div>
  <% elsif @rank.id == 2 %>
    <div class='pt-2 rank'>難易度:<%= @rank.level %></div>
  <% else %>
    <div class='pt-2 rank'>難易度:<%= @rank.level %></div>
  <% end %>
  <div class='swiper-container-login'>
    <div class='swiper-wrapper'>
      <% if current_user.images.present? %>
        <% current_user.images.each do |image| %>
          <div class='swiper-slide'>
            <%= image_tag image.variant(resize:'1200x400').processed, id: 'new-image' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <p id='record'><span class='iconify mic2' data-icon='entypo:mic'></span></p>
</div>
<div class='text-center'>
  <p id='sentence'>クリックで録音開始 ※5秒間計測</P><br>
  <p class='word'>一言で怒ってね</P>
</div>

<%= javascript_pack_tag 'audio' %>
<%= javascript_pack_tag 'recordSwiper' %>